<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>admin</key>
    <array>
        <string>*</string>  <!-- Toutes les applications autorisées -->
    </array>
    <key>default</key>
    <array>
        <string>com.apple.finder</string>
        <string>com.apple.Safari</string>
    </array>
    <key>groupe1</key>
    <array>
        <string>com.apple.TextEdit</string>
        <string>com.apple.Preview</string>
    </array>
    <!-- Ajoutez d'autres groupes ici -->
</dict>
</plist>